.community {
  &__content {
  }

  &[aria-expanded="false"] {
    .community__content {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    .btn-nav {
      display: none;
    }
  }

  &__content {
    padding: 13rem 6rem;
    opacity: 0;
    animation: fadeInMain 1s linear 500ms forwards;
  }

  &__cta {
    margin: 5rem 0;
    width: 100%;
    padding: 2rem;
    background-color: transparent;
    border: 1px solid #000;
    font-family: $font-display;
    font-size: 1.6rem;
    transition: all 500ms;
    cursor: pointer;


    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }
}
