.food {
  &[aria-expanded="false"] {
    .food__content {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    .btn-nav {
      display: none;
    }
    .food__content {
      padding: 13rem 6rem;
      opacity: 0;
      animation: fadeInMain 1s linear 500ms forwards;
    }
  }
}
