.btn-nav {
  height: 100%;
  width: 6rem;
  transition: width 500ms, opacity 0ms;
  cursor: pointer;

  background-color: transparent;

  padding: 6rem 0.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 20px;

  &__english {
    margin: auto 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
