.heading-1 {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 7.5rem;
  line-height: 8.6rem;
}

.heading-2 {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 11.3rem;
}

.heading-3 {
  font-family: $font-primary;
  font-weight: 200;
  font-size: 6rem;
}
