.announcement {
  &__smile {
    svg {
      height: 12rem;
      width: 12rem;
      animation: bounceSmile 2s ease-in-out infinite forwards;
    }

    &:last-of-type {
      rotate: 180deg;
    }
  }

  &__text {
    .heading {
      font-size: 10rem;
    }
    text-align: center;
  }

  &__layout {
    margin: 5rem 0;
    padding: 10rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    justify-content: center;
    justify-items: center;
    align-items: center;

    background-image: linear-gradient(
        135deg,
        transparent 49%,
        $color-black 49%,
        $color-black 51%,
        transparent 51%
      ),
      linear-gradient(
        225deg,
        transparent 49%,
        $color-black 49%,
        $color-black 51%,
        transparent 51%
      ),
      linear-gradient(
        135deg,
        transparent 49%,
        $color-black 49%,
        $color-black 51%,
        transparent 51%
      ),
      linear-gradient(
        225deg,
        transparent 49%,
        $color-black 49%,
        $color-black 51%,
        transparent 51%
      );

    background-size: 60px 40px, 60px 40px, 60px 40px, 60px 40px;
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 103%, 40px 103%, 0 -3%, -40px -3%;

    animation: translateBorderSpike 1s linear infinite;
  }
}

.community__announcement {
  &__smile {
    svg {
      height: 12rem;
      width: 12rem;
      animation: bounceSmile 2s ease-in-out infinite forwards;
    }

    
    &:last-of-type { 
      transform: rotateY(180deg);
    }
  }

  &__text {
    .heading-1 {
      font-size: 10rem;
    }
    text-align: center;
  }

  &__layout {
    margin: 5rem 0;
    padding: 10rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    justify-content: center;
    justify-items: center;
    align-items: center;

    background-image: linear-gradient(
        135deg,
        transparent 49%,
        $color-black 49%,
        $color-black 51%,
        transparent 51%
      ),
      linear-gradient(
        225deg,
        transparent 49%,
        $color-black 49%,
        $color-black 51%,
        transparent 51%
      );

    background-size: 60px 40px, 60px 40px;
    background-repeat: repeat-x, repeat-x;
    background-position: 0 -3%, -40px -3%;

    animation: translateTopBorderSpike 1s linear infinite;
  }
}

@keyframes translateBorderSpike {
  from {
    background-position: 0 103%, 40px 103%, 0 -3%, -40px -3%;
  }
  to {
    background-position: 60px 103%, 100px 103%, 60px -3%, 20px -3%;
  }
}

@keyframes translateTopBorderSpike {
  from {
    background-position: 0 -3%, -40px -3%;
  }
  to {
    background-position: 60px -3%, 20px -3%;
  }
}

@keyframes bounceSmile {
  0% {
    translate: 0 10%;
  }

  50% {
    translate: 0 -10%;
  }

  100% {
    translate: 0 10%;
  }
}
