.dishes {
    &__list {

        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 7rem 2rem;
    }

    &__description {
        font-family: $font-display;
        margin-bottom: 3rem;
    }

    &__title {
        font-family: $font-primary;
        font-size: 3.2rem;
        font-weight: 300;
    }

}