.btn-logo {
  position: absolute;
  z-index: 1000;
  transition: all 500ms;

  svg {
    transition: all 500ms;
  }

  &[aria-expanded="false"] {
    top: 5rem;
    left: 0.5rem;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  &[aria-expanded="true"] {
    top: 5rem;
    left: 5rem;
    svg {
      width: 60px;
      height: 60px;
    }
  }
}

.main {
  width: calc(100vw - (6rem * 3));
  overflow-x: auto;
  scrollbar-width: none;
  transition: width 500ms, opacity 0s;
}

.main[aria-expanded="true"][initial-state="false"] {
  opacity: 0;
  animation: fadeInMain 1s linear 1s forwards;
}

.main[initial-state="true"] {
  opacity: 0;
  animation: fadeInMain 1s linear 1.6s forwards;
}
