@mixin border-dot {
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: 0.4s linear infinite rotateBorder;
  animation-play-state: paused;
}

// &:hover {
// animation-play-state: running;
// background-position: 100% 0, -100% 100%, 0 -100%, 100% 100%;
//   }
